*/.DS_Store
sorting_methods/algorithms/__pycache__/*
sorting_methods/algorithms/__init__.pyc

KodPowrotu
PokazPodobne
PokazWszystkie
SelKol
SumaNuma
StarczyJeden
L2/KodPowrotu
L3/SelKol
L3/SumaNuma
L3/StarczyJeden

L4/sales_data.db
L4/salesData.db
L4/database.csv
L4/plotting_test.py
L4/create_database.py
L4/transactions.db

L5/api-test.py
L5/salesData.db
L5/database.csv
L5/plotting_test.py
L5/create_database.py
L5/transactions.db
L5/books.db
