.back {
    background-color: rgb(231, 171, 93);
}

#myChart{
    background-color: white;
    align-content: center;
    text-align: center;
}

#xd {
    align-content: center;
    text-align: center;
    align-items: center;
}
#chart {
    text-align: center;
}