<div class="center">
<div style=" width: 80%;" class="center">
<mat-card>
<p style="font-weight: 800;">
    INSTALLATION
</p>
<p >
    In order to run the project you have to have Node.js installed. Also it is required to run command 'nmp install' to get needed libraries inculed with the project.
    To get data you need to have running server.
</p>
<p style="font-weight: 800;">
    OVERVIEW
</p>
<p>
 There are two available tabs - one is for getting exchange rates data. The other one is for getting information about how much  money was spent to buy avocados in particular day.
</p>
<p style="font-weight: 800;">
    SALES
</p>
<p >
    Dates you can choose by datepicker are already filtered - you can not choose a day for which there is no data. You can distinguish between currency you are insterested in - 
    just pick something clicking radio button. After everything is correctly selected the "submit" button will be available to click.
</p>
<p style="font-weight: 800;">
    EXCHANGE RATES
</p>
<p >
    It is similar like for sales - there are set max and min dates to choose to prevent selecting wrong day. You begin at the earliest one. 
    Just select days (it is range picker) you are insterested in, click "submit" and you will see table with exchange rates. You can also select views by clicking tabs - there is table view and chart view.
</p>
</mat-card>
</div>
</div>
