h3 { 
    font-size: 1.5rem;
}

.p-container {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    /* border-bottom: 1px solid #ddd; */
}

@media screen and (min-width: 768px) {
    .usage {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

:host ::ng-deep .p-datepicker table td > span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: box-shadow 0.2s;
    border: 1px solid transparent;
}

.usage {
    margin-bottom: 2rem;
}

.flex-item {
    text-align: center;
}

.input-item {
    margin-left: 34%;
    text-align: left;
    font-size: 1.25rem;
}

.button {
    display: block;
    margin-top: 1.5rem;
}

.radio-button {
    margin: .3rem;
}
