<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <title>MyWebApi - kursy wymian</title>
</head>
<body>
<a href="http://127.0.0.1:8000">Wróć do strony głównej</a>
<a href="http://127.0.0.1:8000/request_builder">Wróć do kreatora zapytań</a>
<canvas id="chartjs-0" class="chartjs" style="width: 100%;"></canvas>

<script> new Chart(document.getElementById("chartjs-0"), {
    "type": "line",
    "data": {
        "labels":
            [
                {% for record in exchange_rates_json.result %}
                    "{{ record.day }}",
                {% endfor %}
            ],
        "datasets": [{
            "label": "Kurs wymiany",
            "data":
                [
                    {% for record in exchange_rates_json.result %}
                        {{ record.rate }},
                    {% endfor %}
                ],
            "fill": false,
            "borderColor": "rgb(75, 192, 192)",
            "lineTension": 0.1
        }]
    },
    "options": {
        title: {
            display: true,
            fontSize: 60,
            text: "Kurs wymiany {{ other_currency_code }} na {{ exchange_rates_json.code }} z dni {{ start_date }} do {{ end_date }}"
        },
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Cena ({{ other_currency_code }})'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Data'
                }
            }]
        }
    }
});
</script>


</body>
</html>