{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="{% static 'interface_app/style.css' %}"
            type="text/css"
    />
    <style>
        table {
            width: 1000px;
        }

        thead th:nth-child(1) {
            width: 25%;
        }

        thead th:nth-child(2) {
            width: 15%;
        }

        thead th:nth-child(3) {
            width: 30%;
        }

        thead th:nth-child(3) {
            width: 30%;
        }

    </style>

    <title>Title</title>
</head>
<body>
{% if sales_json %}
    <a href="http://127.0.0.1:8000">Wróć do strony głównej</a>
    <a href="http://127.0.0.1:8000/request_builder">Wróć do kreatora zapytań</a>
    <h1>Wartość sprzedaży z dni {{ start_date }} - {{ end_date }}</h1>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Sales</th>
            <th>Sales value (PLN)</th>
            <th>Sales value (USD)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for sale_json in sales_json.result %}
                <tr>
                    <th>{{ sale_json.day }}</th>
                    <td>{{ sale_json.number_of_sales }}</td>
                    <td>{{ sale_json.sales_pln }} PLN</td>
                    <td>{{ sale_json.sales_usd }} USD</td>
                </tr>
            {% endfor %}
        </tr>
        </tbody>
    </table>



{% else %}
    <h1>Brak danych do wyświetlenia!</h1>
    <a href="http://127.0.0.1:8000">Wróć do strony głównej</a>
    <a href="http://127.0.0.1:8000/request_builder">Wróć do kreatora zapytań</a>
{% endif %}

</body>
</html>