<main>
    <h2 class="section-title">Introduction</h2>
    <section class="introduction">
        <p>This API allows users users to query PLN exchange rates on specific days and periods. In addition it allows
            to
            obtain information about sales on given days and periods, stored in database. Response contains sale in USD
            and
            PLN, converted at the daily rate.</p>
    </section>

    <h2 class="section-title">Endpoints</h2>
    <section class="endpoints grid">
        <div *ngFor="let card of cards" class="flex-item">
            <h3>{{card.type}}</h3>
            <code>{{card.url}}</code>
            <p><b>Description: </b>{{card.description}}</p>
        </div>
    </section>
</main>