<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta name="author" content = "japko-7">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <meta name="description" content = "Forex&Sales API">
        <meta name="keywords" content="Forex&Sales API">
        <meta http-equiv="content-language" content="en">
        <meta name="robots" content="all">
        <title>Forex&Sales API - demo</title>

        <!-- LINKS -->
        <!-- <link rel="shortcut icon" type="image/png" href="images/icon.png"/> -->
        <!-- <link rel="stylesheet" href="css/main.css"> -->

        <!-- SCRIPTS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    </head>
    <body>

        <header>
            <h1>Forex&Sales API - demo</h1>
            <h2>More to see @ <a href="https://github.com/japko-7/skryptowe20/tree/L5">GitHub</a>.</h2>
        </header>

        <main>
            
        </main>
    </body>
</html>
