<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

</head>
<body>

    <div class="container" id="pageHeader">
        <div class="page-header">
            <h2>SALES & RATES DATA</h2>
        </div>
    </div>
    <div class="container">
        <h3>API LINKS</h3>
        <div class="container">

            <p>Use these links to get JSON response</p>
            <table class="table table-striped">
                <tr>
                    <th>URL</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>http://localhost:8000/rate/{date}/</td>
                    <td>Get USD exchange rate from the date</td>
                </tr>
                <tr>
                    <td>http://localhost:8000/rate/{from_date}/{to_date}</td>
                    <td>Get USD exchange rate from the date range</td>
                </tr>
                <tr>
                    <td>http://localhost:8000/sale/{date}/</td>
                    <td>Get sales value in PLN and USD from the date</td>
                </tr>
                <tr>
                    <td>http://localhost:8000/sale/{from_date}/{to_date}</td>
                    <td>Get sales value in PLN and USD from the date range</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="container lead">
        <p>Select records type and data range to display:</p>
    </div>
    <div class="container">
        <form id="userInput" v-on:submit.prevent="processForm">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="radio" name="radioGroup" class="form-check-input" value="rate" id="ratesSwitch" v-model="dataType" />
                    <label for="ratesSwitch">USD/PLN exchange rates</label>
                </div>
                <div class="form-group">
                    <input type="radio" name="radioGroup" class="form-check-input" value="sale" id="salesSwitch" v-model="dataType">
                    <label for="sales">Daily sales in USD and PLN</label>
                </div>
                <div class="form-group">
                    <input type="radio" name="radioGroup" class="form-check-input" value="sale-usd" id="salesSwitchUSD" v-model="dataType">
                    <label for="sales">Daily sales in USD</label>
                </div>
                <div class="form-group">
                    <input type="radio" name="radioGroup" class="form-check-input" value="sale-pln" id="salesSwitchPLN" v-model="dataType">
                    <label for="sales">Daily sales in PLN</label>
                </div>
            </div>
            
            <div class="col-sm-6">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" v-on:click.prevent="setActive('one-date')" :class="{active: isActive('one-date')}" href="#one-date">One date</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-on:click.prevent="setActive('dates-range')" :class="{active: isActive('dates-range')}" href="#dates-range">Dates range</a>
                    </li>
                </ul>
                <div class="tab-content py-3">
                    <div class="tab-pane" :class="{ 'active show': isActive('one-date') }" id="one-date">
                        <div class="form-group">
                            <input class="form-control" id="date0" placeholder="Data (DD-MM-YYYY)" v-model="oneDate">
                        </div>
                    </div> 
                    <div class="tab-pane" :class="{ 'active show': isActive('dates-range') }" id="dates-range">
                        <div class="form-group">
                            <input class="form-control" id="date1" placeholder="Od dnia (DD-MM-YYYY)" v-model="fromDate">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="date2" placeholder="Do dnia (DD-MM-YYYY)" v-model="toDate">
                        </div>
                    </div>
                    
                </div>
                
                <button class="btn btn-default" id="showButton">Show</button>
            </div>
        </form>
    </div>
    <br />
    <div class="container">
        <canvas id="myChart" width="600" height="300"></canvas>
    </div>

    <br />
    <div id="outputTable" class="container">
        <h2>[[ myTitle ]]</h2>
        <br />
        <table class="table table-striped">
            <tr>
                <th>[[ col1 ]]</th>
                <th>[[ col2 ]]</th>
                <th>[[ col3 ]]</th>
            </tr>
            <tr v-for="(value, key) in records">
                <td>[[ key ]]</td>
                <td v-if="dataType == 'sale'">[[ value.pln_sales ]]</td>
                <td v-if="dataType == 'rate'">[[ value.value ]]</td>
                <td v-if="dataType == 'sale'">[[ value.usd_sales ]]</td>
                <td v-if="dataType == 'rate'">[[ value.isInterpolated ]]</td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        let Output = new Vue({
            el: '#outputTable',
            delimiters: ['[[', ']]'],
            data: {
                myTitle: 'Data:',
                dataType: '',
                col1: 'Date',
                col2: 'PLN',
                col3: 'USD',
                records: []
            },
            methods: {
                getResultsTable: function (dataURL, dataType, isReversed, oneDate) {
                    this.dataType = dataType;
                    this.setHeaders(dataType);
                    var self = this
                    $.getJSON(dataURL, function (data) {
                        var singleObj = {};
                        if (oneDate != '') {
                            if (dataType == 'sale')
                                singleObj[oneDate] = { pln_sales: data.pln_sales, usd_sales: data.usd_sales } ;
                            else if (dataType == 'rate')
                                singleObj[oneDate] = { value: data.value, isInterpolated: data.isInterpolated } ;
                            self.records = singleObj;
                        }
                        else
                            self.records = data;

                    });
                },
                setHeaders: function (dataType) {
                    if (dataType == 'sale') {
                        this.myTitle = 'Daily sales';
                        this.col1 = 'Date';
                        this.col2 = 'PLN';
                        this.col3 = 'USD';
                    }
                    else if (dataType == 'rate') {
                        this.myTitle = 'Exchange rate';
                        this.col1 = 'Date';
                        this.col2 = 'Exchange rate';
                        this.col3 = 'Is interpolated?';
                    }
                    else {
                        this.col1 = 'Cannot get results';
                        this.col2 = '';
                        this.col3 = '';
                    }
                },
                getResultsChart: function (dataURL, dataType, isReversed, oneDate) {
                    this
                    $.getJSON(dataURL, function (data) {
                        var chartLabels;
                        var chartValues;
                        if (oneDate != '') {
                            var singleObj = {};
                            if (dataType == 'sale-pln' || dataType == 'sale-usd' || dataType == 'sale')
                                singleObj[oneDate] = { pln_sales: data.pln_sales, usd_sales: data.usd_sales };
                            else if (dataType == 'rate')
                                singleObj[oneDate] = { value: data.value, isInterpolated: data.isInterpolated };

                            chartLabels = Object.keys(singleObj);
                            chartValues = Object.values(singleObj);
                            
                        }
                        else {
                            chartLabels = Object.keys(data);
                            chartValues = Object.values(data);
                        }

                        if (isReversed) {
                            chartValues.reverse();
                            chartLabels.reverse();
                        }
                        usdDataset = {
                            label: 'USD Sales',
                            data: chartValues.map(x => x.usd_sales),
                            fill: false,
                            borderColor: 'rgb(68,67,238)'
                        }
                        plnDataset = {
                            label: 'PLN Sales',
                            data: chartValues.map(x => x.pln_sales),
                            fill: false,
                            borderColor: 'rgb(28,169,201)'
                        }
                        exchangeRateDataset = {
                            label: 'USD/PLN',
                            data: exchangeRates = chartValues.map(x => x.value),
                            fill: false,
                            borderColor: 'rgb(113,238,184)'
                        }

                        let chartDatasets = [];
                        if (dataType == 'sale-usd')
                            chartDatasets = [usdDataset];
                        else if (dataType == 'sale-pln')
                            chartDatasets = [plnDataset];
                        else if (dataType == 'sale')
                            chartDatasets = [usdDataset, plnDataset];
                        else if (dataType == 'rate')
                            chartDatasets = [exchangeRateDataset];


                        var ctx = document.getElementById('myChart');

                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                datasets: chartDatasets,
                                labels: chartLabels
                            }
                        });
                    });
                },
            }
        });
        let UserInput = new Vue({
            el: '#userInput',
            delimiters: ['[[', ']]'],
            data: {
                oneDate: '',
                fromDate: '',
                toDate: '',
                dataType: '',
                activeTab: 'dates-range'
            },
            methods: {
                isActive(menuItem) {
                    return this.activeTab === menuItem
                },
                setActive(menuItem) {
                    this.activeTab = menuItem
                },
                processForm: function () {
                    var dataURL = 'http://localhost:8000/';
                    var dataTypeURL = '';
                    var isReversed = false;
                    var isOne = '';
                    if (this.activeTab == 'dates-range') {
                        if (this.dataType == 'sale-usd' || this.dataType == 'sale-pln'
                            || this.dataType == 'sale') {
                            dataURL = dataURL + 'sale/' + this.fromDate + '/' + this.toDate;
                            dataTypeURL = 'sale';
                        }
                        else {
                            dataURL = dataURL + this.dataType + '/' + this.fromDate + '/' + this.toDate;
                            dataTypeURL = this.dataType;
                            isReversed = true;
                        }
                    }
                    else if (this.activeTab == 'one-date') {
                        isOne = this.oneDate;
                        if (this.dataType == 'sale-usd' || this.dataType == 'sale-pln'
                            || this.dataType == 'sale') {
                            dataURL = dataURL + 'sale/' + this.oneDate;
                            dataTypeURL = 'sale';
                        }
                        else {
                            dataURL = dataURL + this.dataType + '/' + this.oneDate;
                            dataTypeURL = this.dataType;
                            isReversed = true;
                        }
                    }

                    Output.getResultsTable(dataURL, dataTypeURL, isReversed, isOne);
                    Output.getResultsChart(dataURL, this.dataType, isReversed, isOne);

                }
            }

        });

    </script>

</body>
</html>
