<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

</head>
<body>

    <div class="container" id="vue-elem">
        <div class="page-header">
            <h2>SALES & RATES DATA</h2>
        </div>
    </div>
    <div class="container lead">
        <p>Select records type and data range to display:</p>
    </div>
    <div class="container">
        <form id="userInput" v-on:submit.prevent="processForm">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="radio" name="radioGroup" class="form-check-input" value="rate" id="ratesSwitch" v-model="dataType" />
                    <label for="ratesSwitch">USD/PLN exchange rates</label>
                </div>
                <div class="form-group">
                    <input type="radio" name="radioGroup" class="form-check-input" value="sale" id="salesSwitch" v-model="dataType">
                    <label for="sales">Daily sales in USD and PLN</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input class="form-control" id="date1" placeholder="Od dnia (DD-MM-YYYY)" v-model="fromDate">
                </div>
                <div class="form-group">
                    <input class="form-control" id="date2" placeholder="Do dnia (DD-MM-YYYY)" v-model="toDate">
                </div>
                <button class="btn btn-default" id="showButton">Show</button>
            </div>
        </form>
    </div>
    <br />
    <div class="container">
        <canvas id="myChart" width="600" height="300"></canvas>
    </div>

    <script>
    </script>

    <br />
    <div id="outputTable" class="container">
        <h2>[[ myTitle ]]</h2>
        <br />
        <table class="table table-striped">
            <tr>
                <th>[[ col1 ]]</th>
                <th>[[ col2 ]]</th>
                <th>[[ col3 ]]</th>
            </tr>
            <tr v-for="(value, key) in records">
                <td>[[ key ]]</td>
                <td v-if="dataType == 'sale'">[[ value.pln_sales ]]</td>
                <td v-if="dataType == 'rate'">[[ value.value ]]</td>
                <td v-if="dataType == 'sale'">[[ value.usd_sales ]]</td>
                <td v-if="dataType == 'rate'">[[ value.isInterpolated ]]</td>
            </tr>
        </table>
    </div>
    <div class="container">
        <h3>API LINKS</h3>
        <div class="container">

            <p>Use these links to get JSON response</p>
            <table class="table table-striped">
                <tr>
                    <th>URL</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>http://localhost:8000/rate/{date}/</td>
                    <td>Get USD exchange rate from the date</td>
                </tr>
                <tr>
                    <td>http://localhost:8000/rate/{from_date}/{to_date}</td>
                    <td>Get USD exchange rate from the date range</td>
                </tr>
                <tr>
                    <td>http://localhost:8000/sale/{date}/</td>
                    <td>Get sales value in PLN and USD from the date</td>
                </tr>
                <tr>
                    <td>http://localhost:8000/sale/{from_date}/{to_date}</td>
                    <td>Get sales value in PLN and USD from the date range</td>
                </tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        let OutputTable = new Vue({
            el: '#outputTable',
            delimiters: ['[[', ']]'],
            data: {
                myTitle: 'Data:',
                dataType: '',
                col1: 'Date',
                col2: 'PLN',
                col3: 'USD',
                records: []
            },
            methods: {
                getResults: function (dataURL, dataType) {
                    this.dataType = dataType;
                    this.setHeaders(dataType);
                    var self = this
                    $.getJSON(dataURL, function (data) {
                        self.records = data;
                        let chartLabels = Object.keys(data);
                        let chartValues = Object.values(data);

                        let chartDatasets = [];
                        if (dataType == 'sale') {
                            let usdSales = chartValues.map(x => x.usd_sales);
                            let plnSales = chartValues.map(x => x.pln_sales);
                            chartDatasets = [{
                                label: 'USD Sales',
                                data: usdSales
                            }, {
                                label: 'PLN Sales',
                                data: plnSales
                            }]
                        }
                        else if (dataType == 'rate') {
                            let exchangeRates = chartValues.map(x => x.value)
                            chartDatasets = [{
                                label: 'USD/PLN',
                                data: exchangeRates
                            }]
                        }
                        
                        var ctx = document.getElementById('myChart');

                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                datasets: chartDatasets,
                                labels: chartLabels
                            }
                        });
                    });
                },
                setHeaders: function (dataType) {
                    if (dataType == 'sale') {
                        this.myTitle = 'Daily sales';
                        this.col1 = 'Date';
                        this.col2 = 'PLN';
                        this.col3 = 'USD';
                    }
                    else if (dataType == 'rate') {
                        this.myTitle = 'Exchange rate';
                        this.col1 = 'Date';
                        this.col2 = 'Exchange rate';
                        this.col3 = 'Is interpolated?';
                    }
                    else {
                        this.col1 = 'Cannot get results';
                        this.col2 = '';
                        this.col3 = '';
                    }
                }
            }
        });
        let UserInput = new Vue({
            el: '#userInput',
            delimiters: ['[[', ']]'],
            data: {
                fromDate: '',
                toDate: '',
                dataType: ''
            },
            methods: {
                processForm: function () {
                    var dataURL = 'http://localhost:8000/';
                    dataURL = dataURL + this.dataType + '/' + this.fromDate + '/' + this.toDate;
                    OutputTable.getResults(dataURL, this.dataType);

                }
            }

        });


        


    </script>

</body>
</html>
