{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <form method="POST">
                {% csrf_token %}

                <h1 class="jumbotron-heading">{{ heading }}</h1>
                <p class="lead text-muted">Select desired date range:</p>

                <label for="start">Start date:</label>
                <input class="form-control" type="date" id="start" name="start"
                       min="2013-01-01" max="2014-12-31">

                <label for="start">End date:</label>
                <input class="form-control" type="date" id="end" name="end"
                       min="2013-01-01" max="2014-12-31">

                {% if available_currencies %}
                    <label for="ccy">Currency:</label>
                    <div class="form-group">
                        <select class="form-control" id="ccy" name="ccy">
                            {% for ccy in  available_currencies %}
                                <option>{{ ccy }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                <br>

                <button type="submit" class="btn btn-primary">Get data</button>
            </form>
        </div>
    </section>








    {% if data %}
        <div class="container my-4">
            <canvas id="line-chart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            var config = {
                type: 'line',
                data: {
                    datasets: [{
                        data: {{ data|safe }},
                        backgroundColor: [
                            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
                        ],
                        label: '{{ label }}'
                    }],
                    labels: {{ labels|safe }}
                },
                options: {
                    responsive: true
                }
            };

            window.onload = function () {
                var ctx = document.getElementById('line-chart').getContext('2d');
                window.myChart = new Chart(ctx, config);
            };

        </script>

    {% endif %}

    <div class="container my-4">
        {% if table %}
            {{ table | safe }}
        {% endif %}
    </div>



{% endblock %}