<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Info{% endblock %}

{% block content %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">USD rates and sales data</h1>
            <p class="lead text-muted">This website gives an easy access to USD rates and sales data available via API
                from previous laboratory.</p>
            <p class="lead text-muted">API usage</p>
            <p class="lead text-muted">To access rates for single date use: </p>

            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

{% endblock %}