<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Info{% endblock %}

{% block content %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">USD rates and sales data</h1>
            <p class="lead text-muted">This website gives an easy access to USD rates and sales data available via API
                from previous laboratory. Use Rates and Sales dropdowns in navigation to access desired data.</p>
            <p class="lead text-muted">Note that the data is available for date range: 2013-01-01 - 2014-12-31</p>
            <br>
            <p class="lead text-muted">API is available at http://127.0.0.1:5000/</p>
            <p class="lead text-muted">To access USD to PLN rate for single date use: http://127.0.0.1:5000/rates/usd/{date}</p>
            <p class="lead text-muted">To access USD to PLN rate for date range use: http://127.0.0.1:5000/rates/usd/{start_date}/{end_date}</p>
            <p class="lead text-muted">To access sales for single date use: http://127.0.0.1:5000/sales/{date}</p>
            <p class="lead text-muted">To access sales for date range use: http://127.0.0.1:5000/sales/{start_date}/{end_date}</p>


        </div>
    </section>

{% endblock %}