{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% block date_pickers %}

        <section class="jumbotron text-center">
            <div class="container">
                <form method="POST">
                    {% csrf_token %}

                    <h1 class="jumbotron-heading">{{ heading }}</h1>
                    <p class="lead text-muted">Select desired date.</p>

                    <label for="start">Start date:</label>
                    <input class="form-control" type="date" id="date" name="date" required
                           min="2013-01-01" max="2014-12-31">

                    <br>
                    <button type="submit" class="btn btn-primary">Get data</button>
                </form>
            </div>
        </section>
    {% endblock %}

    <div class="container my-4">
        {% if table %}
            {{ table | safe }}
        {% endif %}
    </div>
{% endblock %}